.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/subset-DMSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/subset-DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/subset-DMSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

:root {
  --clr-purple-100: 254, 88%, 90%;
  --clr-purple-500: 256, 67%, 59%;
  --clr-yellow-100: 31, 66%, 93%;
  --clr-yellow-500: 39, 100%, 71%;
  --clr-white: 0, 0%, 100%;
  --clr-black: 0, 0%, 7%;
  --clr-gray: 300, 5%, 96%;

  --ff-main: "DM Sans", sans-serif;
}

.text--big {
  font-size: 2.875rem;
  /* desktop 62px, tablet 54px, mobile 46px*/
  line-height: 0.935;
  letter-spacing: -3px;
  font-weight: 500;
}

.text--medium {
  font-size: 2rem;
  /* desktop 40px, tablet 36px, mobile 32px*/
  line-height: 0.9;
  letter-spacing: -2px;
  font-weight: 500;
}

.text--small {
  font-size: 1.625rem;
  /* desktop 32px, tablet 28px, mobile 26px*/
  line-height: 0.875;
  letter-spacing: -2px;
  font-weight: 500;
}

.text--tiny {
  font-size: 1.125rem;
  line-height: 1.125;
  font-weight: normal;
}

body {
  min-height: 100vh;
  font-family: var(--ff-main);
  background-color: hsl(var(--clr-gray));
}

.bento {
  padding: 0;
  margin: 2rem 1rem;
  display: grid;
  gap: 2rem;
}

.bento ::marker {
  font-size: 0;
}

.bento__card {
  border-radius: 0.625rem;
  display: grid;
  justify-items: center;
}

.bento__card--social {
  background-color: hsl(var(--clr-purple-500));
  padding: 2.5rem 2rem;
  color: hsl(var(--clr-white));
  text-align: center;
}

.bento__card--social strong {
  color: hsl(var(--clr-yellow-500));
  font-weight: 500;
}

.bento__card--social img {
  margin: 1.5rem 0 0.5rem 0;
  max-width: 12rem;
}

.bento__card--manage {
  background-color: hsl(var(--clr-white));
  padding: 1rem;
  display: grid;
  gap: 1rem;
}

.bento__card--manage img {
  background-color: white;
  box-shadow: none;
}

.bento__card--maintain {
  --padding-maintain: 1rem;
  display: grid;
  gap: 1rem;
  justify-items: start;
  background-color: hsl(var(--clr-yellow-500));
  overflow: hidden;
  padding: var(--padding-maintain) var(--padding-maintain) 0
    var(--padding-maintain);

  overflow: hidden;
  max-height: 13.515625rem;
}

.bento__card--maintain img {
  max-width: 13rem;
}

.bento__card--schedule {
  display: grid;
  gap: 1.5rem;
  background-color: hsl(var(--clr-purple-100));
  padding: 2rem 1rem;
  text-align: center;
}

.bento__card--schedule span {
  padding: 0 1rem;
}

.bento__card--grow {
  color: hsl(var(--clr-white));
  display: grid;
  gap: 2.5rem;
  background-color: hsl(var(--clr-purple-500));
  overflow: hidden;
  padding: 1.5rem 3.75rem;
  text-align: center;
}

.bento__card--faster {
  display: grid;
  justify-items: start;
  gap: 1.5rem;
  background-color: hsl(var(--clr-white));
  padding: 1.5rem;
}

.bento__card--faster span {
  display: grid;
  gap: 1rem;
}

.bento__card--faster img {
  max-width: 10.75rem;
}

.bento__card--create {
  display: grid;
  gap: 1.5rem;
  justify-items: start;
  background-color: hsl(var(--clr-yellow-100));
  padding: 2rem;
}

.bento__card--create img {
  max-width: 11.875rem;
}

.bento__card--create i {
  color: hsl(var(--clr-purple-500));
}

.bento__card--write {
  display: grid;
  gap: 1.5rem;
  justify-items: start;
  background-color: hsl(var(--clr-yellow-500));
  padding: 1.5rem;
}

.bento__card--write img {
  max-width: 13.75rem;
}

@media (min-width: 36rem) {
  .text--big {
    font-size: 3.375rem;
    /* desktop 62px, tablet 54px, mobile 46px*/
  }

  .text--medium {
    font-size: 2.25rem;
    /* desktop 40px, tablet 36px, mobile 32px*/
  }

  .text--small {
    font-size: 1.75rem;
    /* desktop 32px, tablet 28px, mobile 26px*/
  }

  .bento {
    grid-template-columns: 1fr 1fr;
  }

  .bento__card--social {
    padding: 4.5rem;
    grid-column: 1 / 3;
  }

  .bento__card--manage {
    padding: 1.5rem;
  }

  .bento__card--maintain {
    max-height: none;
    --padding-maintain: 1.5rem;
  }

  .bento__card--schedule {
    grid-column: 1 / 3;
    padding: 2rem;
  }

  .bento__card--schedule * {
    max-width: 22.5rem;
  }

  .bento__card--grow {
    grid-column: 1 / 3;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: start;
  }

  .bento__card--grow img {
    max-width: 14.25rem;
  }

  .bento__card--faster {
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .bento__card--faster img {
    justify-self: end;
  }

  .bento__card--create span {
    align-self: end;
  }
}
